.card-img-top {
  width: 100%;
  height: 150px;
}
.favourite {
  position: absolute;
  background-color: white;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid black;
  top: 32%;
  left: 85%;
}
