input {
  width: 30vh;
}
.form-d {
  width: 32vw;
}
.card-contain {
  height: 50vh;
  width: 32vw;
  overflow: auto;
  position: absolute;
  z-index: 0;
}
.card {
  width: 100%;
  border-bottom:4px solid transparent ;
}
.card:hover {
  border-bottom:4px solid #2472cc;
  transition:  all 0.25s ease-in-out;
  
}
